.admin-container {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5f1;
    color: #333;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: auto;
}

.admin-title {
    text-align: center;
    color: #8c6549;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin-bottom: 2rem;
}

.table-container {
    margin-bottom: 4rem;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%,
}

.users-table {
    width: 200.5%;
    max-width: 1200px;
    margin: 0 auto; /* Remove extra margin from top */
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-table th,
.users-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.users-table th {
    background-color: #b68765;
    color: #fff;
}

.users-table tbody tr:nth-child(even) {
    background-color: #eee5de;
}

.users-table tbody tr:hover {
    background-color: #eae0d6;
}

.edit-button,
.delete-button,
.create-button,
.update-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px; /* Keep consistent button styling */
    cursor: pointer;
    color: #fff;
    font-size: 1em; /* Button font size consistency */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
}

.edit-button {
    background-color: #4caf4f;
}

.edit-button:hover {
    background-color: #67c467;
    transform: translateY(-2px); /* Lift on hover */
}

.delete-button {
    background-color: #f44336;
}

.delete-button:hover {
    background-color: #ff5e50;
    transform: translateY(-2px); /* Lift on hover */
}

.create-button {
    background-color: #8c6549;
}

.create-button:hover {
    background-color: #b38063;
    transform: translateY(-2px); /* Lift on hover */
}

.update-button {
    background-color: #8c6549;
}

.form-container {
    margin-top: 20px;
    text-align: center;
}

.form-container h2 {
    color: #8c6549;
    font-size: 1.5em;
    margin-top: 80px;
    text-align: center;
}

.form-container input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #8c6549;
    margin-left: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
