.full-dataset {
    font-family: 'Arial', sans-serif;
    background-color: #f5f3ef;
    color: #333;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

.full-dataset h1 {
    text-align: center;
    color: #8c6549;
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.table-container {
    margin-top: 2rem; 
}

.full-dataset table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-dataset table thead th {
    background-color: #b68765;
    color: #ffffff;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    border: none;
}

.full-dataset table tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

.full-dataset table tbody tr:nth-child(even) {
    background-color: #eee5de;
}

.full-dataset table tbody tr:hover {
    background-color: #eae0d6;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pagination button {
    background-color: #8c6549;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #a67555;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.pagination-controls { 
    margin-bottom: 1rem; /* Adds some space between pagination controls and the table */
}

.pagination-controls label {
    margin-right: 10px; /* Adds space between "Rows per page:" label and dropdown */
    font-size: 1em;
    color:  #333;
}

.pagination-controls select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f3ef;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}
