.chart-container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #ffffff, #ffffff);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #d3d3d3;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.chart-container canvas, .chart-container svg {
    margin: 0;
    padding: 0;
}
