/* Container for the whole Resources page */
.resources-container {
  font-family: 'Arial', sans-serif;
  background-color: #f5f3ef;
  color: #333;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Headings styling */
.resources-container h2 {
  color: #8c6549;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 1.5rem;
}

.resources-container h3 {
  color: #8c6549;
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-align: center;
}

/* Paragraph for model info */
.resources-container p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 1.1em;
  color: #555;
}

/* Section container styling */
.resources-container section {
  margin-bottom: 3rem;
}

/* Graphs container */
.model-graphs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.graph {
  margin: 1rem;
  text-align: center;
}

.graph img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect: scale the image up slightly and add a more prominent shadow */
.graph img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* Model Architecture styling */
.model-architecture {
  text-align: center;
  margin-bottom: 3rem;
}

.model-architecture h2 {
  color: #8c6549;
  font-size: 1.8em;
  margin-bottom: 1.5rem;
}

.model-architecture img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.model-architecture img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}


/* Confusion Matrix styling */
.confusion-matrix {
  text-align: center;
}

.confusion-matrix img {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.confusion-matrix img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* Classification Report styling */
.classification-report {
  text-align: center;
}

.classification-report img {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.classification-report img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* Download buttons */
.download-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.download-buttons button {
  background-color: #8c6549;
  color: white;
  padding: 12px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.download-buttons button:hover {
  background-color: #b38063;
  transform: translateY(-2px);
}

/* External links */
.external-links ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.external-links ul li {
  margin: 10px 0;
}

.external-links ul li a {
  color: #8c6549;
  font-size: 1.1em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.external-links ul li a:hover {
  color: #b38063;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .model-graphs {
      flex-direction: column;
      align-items: center;
  }

  .graph {
      max-width: 90%;
  }

  .confusion-matrix img,
  .classification-report img {
      max-width: 90%;
  }

  .download-buttons button {
      width: 80%;
  }
}

/* Classification Table */
.classification-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.classification-table thead th {
  background-color: #b68765;
  color: #fff;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

.classification-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.classification-table tbody tr:nth-child(even) {
  background-color: #eee5de;
}

.classification-table tbody tr:hover {
  background-color: #f0e9e2;
}

.classification-table tbody tr td[colspan="4"] {
  text-align: right;
  font-weight: bold;
}

/* Feature Descriptions styling */
.feature-descriptions {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: left;
  min-height: 200px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.1);
  background: linear-gradient(145deg, #ffffff, #ffffff);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #d3d3d3;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left; 
  flex-direction: column;
  padding: 2rem; 
}

.feature-descriptions:hover {
  transform: scale(1.006);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}

.res {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), 0 20px 50px rgba(0, 0, 0, 0.15);
}
